{% extends 'template.html' %}
<!--Body Block-->
{% block body_block %}
{% load widget_tweaks %}
 {% if user.is_authenticated %}
{% if Message %}
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>{{ Message }}</strong>
</div>
{% elif ErrorMessage %}
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>{{ ErrorMessage }}!</strong>
    </div>
{% endif %}
         <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">        <form  name="add store" method="post" action="/addstore/">
            {% csrf_token %}
            {{ form.store_name | attr:"class:form-control" | attr:"placeholder:إسم المخزن" | attr:"id:store_name" }}
            {{ form.store_address | attr:"class:form-control" | attr:"placeholder:عنوان المخزن" | attr:"id:store_address" }}
            {{ form.store_disc | attr:"class:form-control" | attr:"placeholder:وصف المخزن" | attr:"id:store_disc" }}
                <label for="store_category"> Store Category</label>
            <select name ="store_category" id="store_category" class="dropdown-toggle">
            {% for Category in Categories %}
            <option>{{ Category.category_name }}</option>
            {% endfor %}
            </select><div>
                                <input type="submit" class="form-control" value="إضافة">
            </div>
        </form>
            </div>

          </div>
                                                        {% endif %}
{% endblock %}
